* {
    margin: 0px;
    padding: 0px;

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.card {
    background-color: pink;
    width: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    box-shadow: black;
    width: 325px;

}

.card img {
    width: 100%;
}

.card-content {
    font-size: 26px;
    align-items: center;
}

.card-contents p {
    color: gray;
}

a {
    text-decoration: none;
    padding: 10px;
    margin: 20px;
    color: black;
}

@media(min-width:600) {
    .container {
        display: flex;
        align-items: center;
        padding: 10px;
    }

    .img-card {
        padding: 10px;
        flex: 1;
    }


}