 .container {
     display: grid;
     grid-template-columns: auto auto auto;
     grid-template-rows: repeat(2, 129px);
     gap: 10px;



 }

 .container div {
     font-size: 30px;
     padding: 10px;
     background-color: rgb(65, 65, 141);

 }

 /* .container {
     display: grid;
     grid-template-columns: auto auto auto;
     grid-template-rows: repeat(2, 129px);
     gap: 10px;

 }

 .container div {
     background-color: aqua;
     color: white;
     padding: 10px;
 } */