* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
}

header {
    background-color: gray;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 28px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    width: 1200px;
    padding: 0 20px;
    margin: 20px auto;
}

.sidebar {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.main-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.posts {
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}

.posts img {
    max-width: 100%;
    padding: 16px;
}

.posts h2 {
    padding: 10px;
    margin: 10px;
    color: gray;
}

.posts p {
    padding: 10px;
    margin: 10px;
    color: gray;
}

footer {
    background-color: gray;
    padding: 20px;
    text-align: center;
    color: white;

}