/* * {
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
}

header {
    background-color: aqua;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 28px;
}

.ayuub {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 20px;
    width: 1200px;
    padding: 20px;

}

.asad {
    background-color: gray;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
}


.main-contact {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}

.posts {
    padding: 10px;

}

.posts-al {
    padding: 20px;
}

.posts img {
    max-width: 100%;
    padding: 10px;


}

.posts h2 {
    padding: 5pxpx;
    margin: 10px;
    text-align: center;
    color: gray;
}

.posts p {
    padding: 16px;
    margin: 10px;

    color: gray;
}

footer {
    background-color: gray;
    padding: 20px;
    text-align: center;
    color: white;

} */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
}

header {
    background-color: gray;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 28px;
}

.ayuub {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    width: 1200px;
    padding: 0 20px;
    margin: 20px auto;
}

.asad {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.main-contact {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.posts {
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}

.posts img {
    max-width: 100%;
    padding: 16px;
}

.posts h2 {
    padding: 10px;
    margin: 10px;
    color: gray;
}

.posts p {
    padding: 10px;
    margin: 10px;
    color: gray;
}

footer {
    background-color: gray;
    padding: 20px;
    text-align: center;
    color: white;

}