* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    background-color: #01034d;
    padding: 10px;
    align-items: center;
    padding: 1rem 2em;
    justify-content: space-between;
    color: white;



}

.navbar .logo {
    padding: 10px;
    margin: 10px;
    font-size: 25px;
}

li {
    display: inline;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0.5rem 1rem;
    gap: 1rem;

}

a {
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-align: center;

}

.main {
    display: flex;
    flex-direction: column;

    height: 100vh;
    background-image: url(oxford.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.overlay {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.7);
    height: 100vh;
}

.container h1 {
    font-size: 4rem;
    color: white;
}

.container h4 {
    font-size: 2rem;
    color: white;
}

.main .container h4 span {
    background-color: skyblue;
    color: blue;
    padding: 10px;
    border-radius: 5px;
}

.main .container {
    z-index: 1;
}

.section2 {
    width: 100%;
    height: auto;
    padding: 1rem 6rem;
    background-color: skyblue;
}

.containers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    box-sizing: border-box;
    align-items: center;

}

.containers h1 {
    color: #0c0d0c;
    font-size: 2rem;
}

.boxes {
    display: flex;
    flex-direction: row;
    mask-border-width: 100%;
    gap: 1rem;
}

.box {
    background-color: blue;
    color: white;
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0, 0, 0 rgba(108, 102, 102, 0.2);


}

.box .boxes {
    font-size: 1.2rem;
}

.section3 {
    width: 100%;
    margin-block: 5rem;
    padding: 1rem;
}

.containering {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    position: relative;
    box-sizing: border-box;
    z-index: 1;
    /* background-color: skyblue; */
}

.left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.left-up {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.left-up h1 {
    color: darkblue;
    font-size: 1.6rem;
    line-height: 1.7rem;

}


.left-up p {
    color: rgb(113, 106, 106);
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 500;

}

.left-down {
    display: flex;
    gap: 1rem;

}

.left-down h1 {
    color: darkblue;
    font-size: 2rem;
    line-height: 1.5;


}

.left-down p {
    color: #333;
    font-size: 1rem;
    font-weight: 700;
}



.container4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    /* background-color: skyblue; */
}

.section4 {
    background-color: skyblue;
    width: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    border-radius: 20px;
    margin: 20px;
    box-shadow: #0c0d0c;
    width: 350px;

}

.section4 img {
    width: 100%;
}

.qoral {
    color: black;
}