* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    background-color: #0c0d4e;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: space-between;

}

.navbar .logo {
    padding: 10px;
    margin: 10px;
    font-size: 25px;
}

.navbar .logo h1 {
    color: #fff;
}

.navbar .nav-link li {
    display: inline;
    justify-content: space-between;
    padding: 0.5rem 1rem;

}

.nav-link a {
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.main {
    height: 100vh;
    background-image: url(oxford.jpg );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    display: flex;
    object-fit: cover;
    position: relative;

}

.main h2 {
    color: white;
}

.main p {
    color: white;
}

.overly {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1rem;
    background: rgba(0, 0, 0, 0 .7);
    height: 100vh;
}

.main .container h1 {
    font-size: 4rem;
    color: white;
}

.main .container h4 {
    font-size: 2rem;
    color: #fff;
}

.main .container h4 span {
    background-color: skyblue;
    color: blue;
    padding: 10px;
    border-radius: 5px;

}

.main .container {
    z-index: 1;

}

.section2 {
    width: 100%;
    height: auto;
    background-color: skyblue;
    padding: 1rem 6rem;
}

.section2 .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    box-sizing: border-box;
    align-items: center;
}

.section2 .container h1 {
    color: #0c0d4e;
    font-size: 2rem;
}

.container .boxes {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    gap: 1rem;
}

.container .boxes .box {
    background: #0c0d4e;
    color: white;
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid wheat;
    border-radius: 10px;
    box-shadow: 0, 0, 0 rgba(108, 102, 102, 0.2);




}

.container .boxes .box {
    font-size: 1.4rem;
}

.section3 {
    width: 100%;
    margin-block: 5rem;
    padding: 5rem;

}

.section3 .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    position: relative;
    box-sizing: border-box;
    z-index: 1;
}

.section3 .container .left {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.section3 .container .left .left-up {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.section3 .container .left .left-up h1 {
    color: #0c0d4e;
    font-size: 1.6rem;
    line-height: 1.7rem;

}

.section3 .container .left .left-up p {
    color: gray;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 500;

}

.section3 .container .left .left-down {
    display: flex;
    gap: 1rem;

}

.section3 .container .left .left-down h1 {
    color: #0c0d4e;
    font-size: 2rem;
    line-height: 1.5;
}

.section3 .container .left .left-down p {
    color: gray;
    font-size: 1rem;
    font-weight: 700;

}